@import "../../global.scss";

.portfolio {
    padding-left: 10%;
    padding-top: 10%;
    padding-right: 10%;
    background-color: $section-background;
}

.portfolio-title{
    color: $secondary-font;
    font-size: 46px;
    font-weight: 700;
}

.portfolio-content p{
    display: block;
    font-size: 20px;
    color: $alternative-font;
}

.portfolio-row{
    display: flex;
    justify-content: space-between;
    height: 400px;
    padding-bottom: 5%;
}

.portfolio-proj1{
    display: flex;
    border-radius: 10px;
    font-size: 10px;
    height: 100%;
    width: 55%;
    padding-right: 5%;
    justify-content: flex-start;
    opacity: 1;
    overflow: hidden;
}

.portfolio-proj2{
    display: flex;
    border-radius: 10px;
    font-size: 10px;
    height: 100%;
    width: 40%;
    justify-content: flex-start;
    opacity: 1;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    #portfolio {
        padding-top: 20%;
    }

    .portfolio-title {
        font-size: 38px;
    }

    .portfolio-row{
        display: flex;
        justify-content: space-around;
        height: 600px;
        padding-bottom: 5%;
        flex-direction: column;
    }

    .portfolio-proj1{
        display: flex;
        height: 45%;
        width: 100%;
        justify-content: flex-start;
        opacity: 1;
        overflow: hidden;
        padding-bottom: 10%;
    }

    .portfolio-proj2{
        display: flex;
        height: 45%;
        width: 100%;
        justify-content: flex-start;
        opacity: 1;
        overflow: hidden;
    }
}