@import "../../global.scss";

.navigation-nav {
  font-size: 26px !important;
  padding-top: 3% !important;
  // padding-right: 9%;
  // padding-left: 9%;
  color: black;
  background-color: transparent !important;
}

.navigation-brand {
  font-size: 38px !important;
  font-weight: bold;
  padding-top: 10px !important;
}

.nav-link {
  margin-right: 50px !important;
}

.navigation-link {
  color: black !important;
  padding-bottom: 0px !important;
  padding-top: 15px !important;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
  border-radius: 3px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  font-weight: bold;
  background-color: white;
  border-radius: 4px;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media only screen and (max-width: 600px) {
  .navigation-brand {
    font-size: 28px !important;
  }
}
