@import "../../global.scss";

.contact {
    padding-top: 10%;
}

.contact-title {
    color: $black;
    font-size: 46px;
    font-weight: 700;
    padding-left: 15%;
    padding-right: 15%;
    background-color: $white;
}

.contact-content {
    display: block;
    height: 600px;
    padding-left: 15%;
    padding-right: 15%;
    background-color: $white;
}

.contact-wrapper {
    display: flex;
    justify-content: space-between;
}

.contact-details {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-right: 2.5%;
    width: 45%;
}

.contact-details h2 {
    display: block;
    font-size: 30px;
    font-weight: 700;
    position: relative;
}

.contact-details p {
    display: block;
    font-size: 16px;
    line-height: 25.6px;
    padding-top: 20px;
}

.contact-form {
    display: block;
    flex-direction: column;
    font-size: 16px;
    width: 57.5%;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    font-size: 16px;

}

.contact .contact-wrapper .contact-form input, 
.contact .contact-wrapper .contact-form textarea {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid fuchsia;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
}

.contact-footer {
    width: 100%;
    position: relative;
    background-color: fuchsia;
    text-align: center;
    color: white;
    padding: 0.5%;
    padding-top: 1%;
    font-size: 18px;
}

@media (min-width: 780px) {
    .contact .contact-wrapper .contact-details {
        width: 30%;
        margin-right: 10%;
    }
}
