@import "../../global.scss";

.intro-intro {
  color: $secondary-font;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  background-color: $primary-font;
  // background: linear-gradient(90deg, $primary-color, $primary-color-alternate);
  // background-size: 400% 400%;
  // animation: gradient 15s ease infinite;
  // height: 100vh;
}

.intro-content {
  background: linear-gradient(90deg, $primary-color, $primary-color-alternate);
  border-radius: 30% 50% 20% 40%;
  height: 80%;
  width: 50%;
  left: 5%;
  top: 20%;
  transform: rotate(-180deg);
  opacity: 1;
  position: absolute;
  z-index: 0;
  animation: transform 30s ease-in-out infinite both alternate, movement_two 60s ease-in-out infinite both;
}

@keyframes transform {
  0%,
  100% {
    border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
  }
  20% {
    border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%;
  }
  40% {
    border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%;
  }
  60% {
    border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%;
  }
  80% {
    border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%;
  }
}

@keyframes transform-mobile {
  0%,
  100% {
    border-radius: 16% 33% 35% 15% / 15% 15% 35% 35%;
  }
  20% {
    border-radius: 17% 31% 25% 24% / 18% 32% 17% 31%;
  }
  40% {
    border-radius: 18% 32% 32% 18% / 32% 24% 26% 18%;
  }
  60% {
    border-radius: 18% 31% 25% 24% / 15% 15% 35% 35%;
  }
  80% {
    border-radius: 20% 30% 21% 29% / 20% 25% 24% 29%;
  }
}

@keyframes movement_two {
  0%,
  500% {
    transform: none;
  }
  50% {
    transform: translate(10%, 5%) rotate(-200deg) scale(1.2);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 75% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.intro-title {
  padding-top: 10%;
  font-size: 48px;
  z-index: 1;
}

.intro-name {
  font-weight: bold;
  font-size: 52px;
  color: $secondary-font;
}

.intro-typing {
  font-size: 50px;
  margin-top: -10px;
  font-weight: 300;
  z-index: 1;

  span {
    font-size: inherit;
    color: $secondary-font;
  }

  .ityped-cursor {
    animation: blink 1s infinite;
  }

  @keyframes blink {
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

.intro-wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.intro-description {
  font-size: 22px;
  max-width: 55%;
  padding-bottom: 5%;
  color: $secondary-font;
}

.intro-logos {
  padding-top: 1%;
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intro-logos a {
  color: $secondary-font;
}

.intro-logos a:hover {
  color: $primary-font;
}

.intro-seemore {
  display: block;
  text-align: center;
}

.intro-seemore a {
  color: $secondary-font;
  position: absolute;
  height: 100%;
}

.intro-seemore a:hover {
  color: $primary-font;
}

@media only screen and (max-width: 600px) {
  #intro {
    min-height: unset;
    // padding-left: unset;
    margin: 0;
    align-items: center;
  }

  .intro-title {
    font-size: 46px;
    text-align: center;
  }
  .intro-name {
    font-size: 46px;
  }

  .intro-typing {
    font-size: 36px;
  }

  .intro-description {
    font-size: 18px;
    text-align: center;
    max-width: unset;
    padding-bottom: 30px 0px;
  }

  .intro-logos {
    width: 100%;
    align-items: center;
    padding: 10% 0%;
  }

  .intro-seemore {
    padding-top: 12%;
  }

  .intro-content {
    border-radius: 15% 25% 10% 20%;
    height: 70%;
    width: 80%;
    left: 5%;
    padding-right: 5%;
    top: 10%;
    transform: rotate(-180deg);
    animation: transform 30s ease-in-out infinite both alternate, movement_two 60s ease-in-out infinite both;

  }
}
