$secondary-font: #000000;
$primary-color: #FDADA4;
$primary-color-alternate: #FDC8A4;
$primary-color-alternate-light: #FDDEA4;
$section-background: #FFFFFF;
$primary-font: #FFFFFF;
$alternative-font: #696969;
$width: 768px;
@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

// mitigate chrome bug
.emoji {
    font-weight: initial !important;
}

*{
    font-family: "NTR",sans-serif;
}

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}