$secondary-font: #000000;
$primary-color: #69FA61;
$primary-color-alternate: #69FEA4;
$section-background: #FFFFFF;
$primary-font: #FFFFFF;
$alternative-font: #696969;
$width: 768px;
@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

*{
    font-family: "NTR",sans-serif;
}

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}